# VS Code
.vscode/

# Being prepared
README.md
pages/LOGIN_README.md
pages/REGISTER_README.md
pages/DASHBOARD_README.md
pages/DASHBOARD_QUICK_GUIDE.md
pages/SIDEBAR_TOGGLE_FEATURE.md

# README files
DASHBOARD_COMPARISON.md
DASHBOARD_TESTING_CHECKLIST.md
DASHBOARD_UX_IMPROVEMENTS.md


node_modules/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env
.env.local